body {
  color: red;
  background:
  linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.7)
    ),
  url("../img/resort_00.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
