body {
  margin: 1.5em 1.5em 1.5em 1.5em; 
  color: black;
  background-color: aqua;
  font-size: 2vw;
  font-family: "Courier New";
  font-weight: 300;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-style: italic;
}

ul {
  list-style-type: decimal;
}

img {
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 20em;
  width: 20em;
}

p.go_back {
  text-align: center;
}

ul.list {
  list-style-type: none;
  text-align: center;
}
